{% extends 'base.html' %}
{% block content %}
<h4 class="mb-3">사용자 {{ '수정' if user else '등록' }}</h4>
<form method="post" class="row g-3">
  {{ form.hidden_tag() }}
  <div class="col-md-6">
    {{ form.username.label(class='form-label') }}
    {{ form.username(class='form-control') }}
  </div>
  <div class="col-md-6">
    {{ form.name.label(class='form-label') }}
    {{ form.name(class='form-control') }}
  </div>
  <div class="col-md-4">
    {{ form.role.label(class='form-label') }}
    {{ form.role(class='form-select') }}
  </div>
  <div class="col-md-4">
    {{ form.password.label(class='form-label') }}
    {{ form.password(class='form-control') }}
    <div class="form-text">비워두면 기존 비밀번호 유지</div>
  </div>
  <div class="col-md-4 d-flex align-items-end">
    <div class="form-check">
      {{ form.is_active(class='form-check-input') }}
      {{ form.is_active.label(class='form-check-label') }}
    </div>
  </div>
  <div class="col-12">
    {{ form.submit(class='btn btn-primary') }}
    <a class="btn btn-secondary" href="{{ url_for('admin.users') }}">취소</a>
  </div>
</form>
{% endblock %}
